.form input[type="submit"] {
    border: none;
    outline: none;
    margin-top: 10px;
    width: 100%; 
    height: 40px;
    background: #ECBD64;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 10vh;
  }

  
  .form input[type="submit"]:hover {
    cursor: pointer;
    background: #eab552;
    color: #000;
  }