.content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: flex-end;
}

.form{
    margin-top: 10vh;
    width: 35%;
}

.img{
    margin-top: 10vh;
}


  


  
