input{
    width: 100%;
    margin-bottom: 20px;
}

input[type="text"],  input[type="number"],  input[type="email"]{
    border-color: #BB462E;
    background-color: #FBDFAA ;
    outline: none;
    height: 30px;
    color: #1a0805;
    font-size: 16px;
  }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-appearance: textfield;
}

input[type="checkbox"]{
    border: none;
    background: #D9D9D9;
    width: 3vh;
}
