select{
    border: none;
    border: 1px solid #BB462E;
    background-color: #FBDFAA ;
    outline: none;
    height: 40px;
    width: 100%;
    color: rgb(30, 1, 1);
    font-size: 16px;
    margin-bottom: 20px;
}